@import "functions";

@media (max-width: 1199px) {}

@media (max-width: 991px) {}

@media (max-width: 767px) {

	/****************/
	/* archive grid */
	/****************/

	.archive-grid-wrapper {
		.archive-grid {
			.grid-post-item {
				width: 50%;
			}
		}
	}

}

@media (max-width: 480px) {

	/****************/
	/* archive grid */
	/****************/

	.archive-grid-wrapper {
		.archive-grid {
			.grid-post-item {
				width: 100%;
			}
		}
	}

}

@media (min-width: 1200px) {}

@media (min-width: 992px) {}

@media (min-width: 768px) {

	/***************/
	/* page header */
	/***************/

	.entry-header {
		&.has-cover-image {
			position: relative;
			padding: 80vh 0 0 !important;

			.entry-header-wrap {
				position: absolute;
				top: 50%;
				width: 100%;
				-ms-transform: translateY(-50%);
				transform: translateY(-50%);
			}
		}
	}

	/****************/
	/* page content */
	/****************/

	.container {
		overflow: hidden;

		.post-inner {
			float: left;
			width: 67%;

			.entry-content > * {
				margin-left: 0;
			}

			&.aside {
				width: 33%;
			}
		}
	}

	/****************/
	/* archive grid */
	/****************/

	.archive-grid-wrapper {
		.archive-grid {
			.grid-post-item {
				width: 33.33333334%;
			}
		}
	}

}

@media (min-width: 481px) {}

@media (min-width: 992px) and (max-width: 1199px) {}

@media (min-width: 768px) and (max-width: 1199px) {}

@media (min-width: 768px) and (max-width: 991px) {}

@media (min-width: 481px) and (max-width: 1199px) {}

@media (min-width: 481px) and (max-width: 991px) {}

@media (min-width: 481px) and (max-width: 767px) {}

@media (min-width: 481px) and (max-width: 767px) {}

@media (min-width: 700px) {

	h2,
	.heading-size-2 {
		font-size: 2.4rem;
	}

}