@import "functions";
@import "typography";

@charset "utf-8";

/******************/
/* general layout */
/******************/

.arrow {
	font-family: "Inter var", -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, sans-serif !important;
}

/***************/
/* page header */
/***************/

.entry-header {
	.post-meta {
		.meta-text {
			a {
				text-decoration: underline;
			}
		}
	}
}

/****************/
/* page content */
/****************/

.container {
	.post-inner {
		.toggle-section {
			& > h2 {
				position: relative;

				span {
					position: absolute;
					top: 20px;
					right: 5px;
					width: 15px;
					height: 15px;
					border-left: 2px solid #000;
					border-bottom: 2px solid #000;
					cursor: pointer;
					@include transition(all);

					&.close {
						@include transform(rotate(-45deg));
					}

					&.open {
						@include transform(rotate(135deg));
					}
				}
			}

			.toggle-content {
				&.close {
					position: relative;
					height: 120px;
					overflow: hidden;

					&:after {
						content: "";
						position: absolute;
						bottom: 0;
						width: 100%;
						height: 100%;
						background: linear-gradient(to top, rgba(245, 239, 224, 1) 0%, rgba(245, 239, 224, 0.2) 100%);
						pointer-events: none;
					}
				}
			}
		}

		&.aside {
			h3 {
				.dashicons {
					margin-top: 6px;
					margin-right: 10px;
					width: auto;
					height: auto;
					font-size: inherit;
				}
			}

			ul {
				list-style: none;

				li {
					margin-left: 0;
				}
			}
		}
	}
}

/******************/
/* shortcode menu */
/******************/

.shortcode-menu {
	list-style: none;

	li {
		margin-bottom: 20px;

		&.lang-item {
			display: none;
		}
	}
}

/**************/
/* responsive */
/**************/

@import "responsive";