@import "functions";
@import "typography";

@charset "utf-8";

/**********/
/* header */
/**********/

.nav-toggle {
	right: auto;
}

.search-modal .search-submit {
	left: auto;
	right: -9999rem;
}

/****************/
/* page content */
/****************/

.container {
	.post-inner {
		.entry-content {
			.toggle-section {
				& > h3 {
					span {
						left: 5px;
						right: auto;
					}
				}
			}

			&.aside {
				h3 {
					.dashicons {
						margin-left: 10px;
						margin-right: auto;
					}
				}

				ul {
					li {
						margin-left: auto;
						margin-right: 0;
					}
				}
			}
		}

		&.aside {
			h3 {
				.dashicons {
					margin-left: 10px;
					margin-right: 0;
				}
			}

			ul {
				li {
					margin-left: auto;
					margin-right: 0;
				}
			}
		}
	}
}

/**************/
/* responsive */
/**************/

@import "responsive_rtl";