/uploads/
/upgrades/
/themes/twentytwenty-child/.sass-cache/
/themes/twentytwenty-child/node_modules/
/themes/twentytwenty-child/assets/css/admin/
/themes/twentytwenty-child/assets/css/*.css
/themes/twentytwenty-child/assets/css/*.map
/themes/twentytwenty-child/assets/js/min/
